

/* CSS for All */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Montserrat:ital,wght@1,600&family=Oswald&display=swap');
.home-page{
    height: 100vh;
    position: relative;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/ind3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.hero-textbox{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    
}

.text .one{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:white;
}
.text .two{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:white;
}


.hero-textbox button{
    height: 50px;
    width: 200px;
    border-radius: 50px;
    background-color:#ff3838;
    color:white;
}

.hero-textbox button a {
    font-weight: 800;
    color:white;

}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}


.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color:white;
}
.text-black{
    color:black;
}
.clearfix{
    clear: both;
    float: none;
}

a{
    color: #ff6b81;
    text-decoration: none;
}
a:hover{
    color: #ff4757;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color:#ff7979;
    color:black;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color:#ff7979;
}
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}


/* CSS for navbar section */
.navbar{
    background-color:#F8EFBA;
    
}
.logo{
    width: 10%;
    float: left;
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}


/* CSS for Food SEarch Section */

.food-search{
   
   background-color: #F8EFBA;
    
}

.food-search input[type="search"]{
    width: 30%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}
.order{
   background-color: lightskyblue;
}

 /*CSS for Categories*/ 
.categories{
    padding: 1% 0;
    background-color:#F8EFBA;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}

/* CSS for Food Menu */
.food-menu{
    background-color: #F8EFBA;
    padding: 1% 0;
}
.food-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.food-menu-img{
    width: 20%;
    float: left;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}



/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}

/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .food-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .food-menu{
        padding: 20% 0;
    }

    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
}
.footer{
    background-color:#ff7979;
    background-position: center;
    background-size: 80%;
}
.footer a{
color:blue;
}

